/venv/
**/**/__pycache__/
**/**/.coverage
infrastructure/.terraform.lock.hcl
infrastructure/.terraform/
infrastructure/terraform.tfstate
inventory.yaml
infrastructure/terraform.tfstate.backup
terraform.tfstate